#HUGGINGFACE
HF_TOKEN = "YOUR_HF_TOKEN"
OPENAI_MODEL = "MODEL_ACC_TO_CHOICE"


# JWT
JWT_SECRET="JWT SECRET"

# MONGO_URL
DATABASE_URL="YOUR MONGO DB URL""


# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="YOUR NEXT AUTH SECRET"