# GitHub Models
OPENAI_API_KEY=github_pat_your_github_models_token_here
OPENAI_MODEL=gpt-4.1

# JWT
JWT_SECRET=your_super_long_random_jwt_secret_here

# MONGO_URL
DATABASE_URL=mongodb://root:password@mongodb:27017/mydb??appName=Cluster0

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_super_long_random_nextauth_secret_here